body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
}

.content-bg {
    background-color: antiquewhite;
}

.header-image{
    width: 100%;
    height: auto;
}

.info-pic{
    width: 100%;
    height: auto;
}

.a{
    background-color: aqua;
}

