/* line 6, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 12, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.content-bg {
  background-color: rgba(240, 231, 231, 0.7);
  height: 100%;
}

/* line 17, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.navbar {
  background-color: rgba(69, 24, 4, 0.9) !important;
}

/* line 21, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.navbar a:hover {
  color: #e77d11 !important;
}

/* line 25, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
h1, h2 {
  color: #c1440e !important;
  scroll-margin-top: 60px;
}

/* line 30, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
td:nth-child(1) {
  font-weight: bold;
  text-align: right;
  color: #c1440e !important;
}

/* line 36, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.table {
  border: #c1440e;
  width: 90%;
  font-size: 20px;
  margin: auto;
}

/* line 43, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
p {
  text-align: justify;
}

/* line 47, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.list-group-item {
  text-align: center;
  background-color: #f0e7e7;
}

/* line 52, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.list-group-item a {
  text-decoration: none;
  color: black;
}

/* line 57, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.list-group-item a:hover {
  color: #e77d11;
}

/* line 61, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 68, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.footer {
  background-color: rgba(69, 24, 4, 0.9);
  color: white;
}

/* The switch - the box around the slider */
/* line 74, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
/* line 82, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* line 89, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 101, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

/* line 113, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
input:checked + .slider {
  background-color: #2493bf;
}

/* line 117, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #2493bf;
}

/* line 121, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
/* line 128, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.slider.round {
  border-radius: 14px;
}

/* line 132, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.slider.round:before {
  border-radius: 50%;
}

/* line 141, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode {
  background-image: url(../images/bg-dark.jpeg);
  background-color: black;
  color: white;
}

/* line 146, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .content-bg {
  background-color: rgba(2, 17, 37, 0.7);
}

/* line 150, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode td:nth-child(2) {
  color: white !important;
}

/* line 154, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .list-group-item {
  background-color: rgba(4, 8, 16, 0.9);
}

/* line 158, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .list-group-item a {
  text-decoration: none;
  color: white;
}

/* line 163, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .list-group-item a:hover {
  color: #30C5FF;
}

/* line 167, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .navbar a:hover {
  color: #30C5FF !important;
}

/* line 171, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .navbar {
  background-color: rgba(4, 8, 16, 0.9) !important;
}

/* line 175, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .footer {
  background-color: rgba(4, 8, 16, 0.9);
  color: white;
}

/* line 180, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode h1, .dark-mode h2, .dark-mode td:nth-child(1) {
  color: #2493bf !important;
}

/* line 183, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.dark-mode .table {
  border: #2493bf;
}

/* line 188, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.icon-color {
  color: white;
}

/* line 192, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.btn-close {
  background-color: white;
}

/* line 196, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.modal-content, .modal-header {
  background-color: transparent;
  border: none;
}

/* line 201, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 96%;
  height: 96%;
  margin: auto;
}

/* line 212, ../../../../../../../../../../../../../Applications/XAMPP/xamppfiles/htdocs/git/marsi_jarmuvek/scss/mars.scss */
.vid-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/*# sourceMappingURL=mars.css.map */