$bg-color: rgba(240,231,231,0.7);
$navbar-bg: rgba(69,24,4,0.9);
$highlight-color: rgb(193,68,14);
$hover-color: rgb(231,125,17);

body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-bg{
    background-color: $bg-color;
    height: 100%;
}

.navbar{
    background-color: $navbar-bg !important;
}

.navbar a:hover{
    color: $hover-color !important;
}

h1, h2{
    color: $highlight-color !important;
    scroll-margin-top: 60px;
}

td:nth-child(1) { 
    font-weight: bold;
    text-align: right;
    color: $highlight-color !important;
}

.table{
    border: $highlight-color;
    width: 90%;
    font-size: 20px;
    margin: auto;
}

p{
    text-align: justify;
}

.list-group-item{
    text-align: center;
    background-color: rgb(240,231,231);
}

.list-group-item a{
    text-decoration: none;
    color: black;
}

.list-group-item a:hover{
    color: $hover-color;
}

.pics{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.footer{
    background-color: $navbar-bg;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
  
input:checked + .slider {
    background-color: #2493bf;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2493bf;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 14px;
}
  
.slider.round:before {
    border-radius: 50%;
}

$bg-color-dark: rgba(2, 17, 37, 0.7);
$navbar-bg-dark: rgba(4, 8, 16, 0.9);
$highlight-color-dark: #2493bf;
$hover-color-dark: #30C5FF;
  
.dark-mode{
    background-image: url(../images/bg-dark.jpeg);
    background-color: black;
    color: white;

    .content-bg{
        background-color: $bg-color-dark;
    }

    td:nth-child(2) { 
        color: white !important;
    }

    .list-group-item{
        background-color: $navbar-bg-dark;
    }
    
    .list-group-item a{
        text-decoration: none;
        color: white;
    }

    .list-group-item a:hover{
        color: $hover-color-dark;
    }

    .navbar a:hover{
        color: $hover-color-dark !important;
    }

    .navbar{
        background-color: $navbar-bg-dark !important;
    }

    .footer{
        background-color: $navbar-bg-dark;
        color: white;
    }

    h1, h2, td:nth-child(1){
        color: $highlight-color-dark !important;
    }
    .table{
        border: $highlight-color-dark;
    }
}

.icon-color{
    color:white;
}

.btn-close{
    background-color: white;
}

.modal-content, .modal-header{
    background-color: transparent;
    border: none;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 96%;
    height: 96%;
    margin: auto;
  }

.vid-container{
    position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}